.containerBlock.header {
  width: 100%;
  position: relative;
  padding-left: 50px;
}
.containerBlock.header::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 50%;
  transform: translate(-50%);
  height: 1px;
  background: var(--linear-color);
}
.containerBlock.header .content > .logo > img {
  width: 100px;
}

.containerBlock.header .content {
  display: flex;
}

.containerBlock.header .content > .header-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 20px;
}
.containerBlock.header .content > .header-menu > ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  flex-wrap: wrap;
}

.containerBlock.header .content > .header-menu > ul > li > a {
  padding: 20px 40px;
  border-radius: 8px;
  font-size: var(--fontSizeNormal);
  font-weight: bold;
  letter-spacing: 2px;
  line-height: 40px;
}

.containerBlock > .content > .header-menu > ul > li > a:hover {
  -webkit-box-shadow: 0px 7px 17px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 7px 17px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 7px 17px 3px rgba(0, 0, 0, 0.2);
  animation: ease-in-out;
}

@media(max-width: 800px){
    .containerBlock.header .content > .header-menu > ul{
        display: none;
    }
}

@media(max-width: 450px){
  .containerBlock.header::before{
    display: nonde;
  }
}
