.containerBlock.main{
    width: 100%;
    flex-direction: column;
    gap: 100px;
  }

  .containerBlock.main .content{
    /* max-width: 1920px; */
    width: 100%;
    margin: 0 auto;
    padding: 40px ;
  }