.content.about {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.content.about > .about-image {
  min-width: 320px;
  min-height: 320px;
  width: 400px;
  height: 400px;
  max-width: 100%;
  max-height: 100%;
  border-radius: 100%;
  border: 15px;
  box-shadow: 1px 4px 7px 4px rgba(0, 0, 0, 0.26);
  -webkit-box-shadow: 1px 4px 7px 4px rgba(0, 0, 0, 0.26);
  -moz-box-shadow: 1px 4px 7px 4px rgba(0, 0, 0, 0.26);
}

.content.about > .about-info {
  width: 100%;
  min-width: 400px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.content.about > .about-info > .about-info-title {
  display: flex;
}

.content.about > .about-info > .about-info-title > h2 {
  font-size: var(--fontSizeTitles);
}

.content.about > .about-info > .about-card-group {
    display: grid; /* Corrige 'grip' para 'grid' */
    grid-template-columns: repeat(2, 1fr); /* Define duas colunas iguais */
    gap: 40px; /* Espaçamento entre os itens */
    width: 90%; /* Mantém a largura total */
    justify-content: center; /* Alinha o conteúdo horizontalmente */
    align-items: center; /* Alinha o conteúdo verticalmente */
}

.content.about > .about-info > .about-card-group .about-card-item {
  width: 100%;
  min-width: 300px;
  padding: 16px;
  display: flex;
  gap: 16px;
  border: 1px solid rgba(0, 0, 0, 0.06);
  border-radius: 6px;
}

.content.about > .about-info > .about-card-group .about-card-item:hover{
  background-color: rgba(255, 255, 255, 0.264);
}

.content.about > .about-info > .about-card-group .about-card-item > img {
  width: 100px;
  height: 100px;
}

.content.about > .about-info > .about-card-group .about-card-item > .card-item {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.content.about
  > .about-info
  > .about-card-group
  .about-card-item
  > .card-item
  h3 {
  font-size: var(--fontSizeLarge);
}
.content.about
  > .about-info
  > .about-card-group
  .about-card-item
  > .card-item
  p {
  font-size: var(--fontSizeDefault);
}

@media(max-width: 1100px){
  .content.about > .about-info > .about-card-group{
    grid-template-columns: repeat(1, 1fr); 
  }
}

@media(max-width: 320px){
  .content.about > .about-info > .about-card-group .about-card-item{
    flex-direction: column;
  }

  .content.about > .about-info{
    min-width: 100%;
  }
}
