* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
}

buttom{
    cursor: pointer;
}

ul, li, a{
    list-style: none;
    text-decoration: none;
    color: var(--secundary-color);
}